
.records_add{
  text-align: center;
  margin: 20px;
}


.records__button_add{
  text-align: center;
  padding: 20px;

  background: green;
  border-radius: 6px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  font-size: 17px;
  text-transform: uppercase;
}

.record_add_menu{
  width:555px;
  height:400px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto;*/ /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.record_add_menu__content button {
  background: #FFC400;
  border-radius: 6px;
  border: none;
  /* Зарегистрироваться */
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  font-size: 17px;
  text-transform: uppercase;

  margin: 20px;

  color: #333333;
}

.records_index{
  background: gray;
}

.record {
  background: white;
  padding: 25px;
  margin: 1px;
  border-radius: 20px;
}

.record__username, .record__created_at{
  background: aqua;
  border-radius: 5px;
}

.record__text {

}

.record__username_notify {
  float: right;
  background: aqua;
  color: gray;
  border-radius: 5px;
}


.records__delete{
  float: right;
  text-align: center;
  padding: 5px;

  background: red;
  border-radius: 50px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  font-size: 15px;
  text-transform: uppercase;
}

.records__update{
  float: right;
  text-align: center;
  padding: 5px;

  background: cyan;
  border-radius: 50px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  font-size: 15px;
  text-transform: uppercase;
}

.records__comment_add{
  text-align: center;
  padding: 5px;

  background: green;
  border-radius: 50px;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  font-size: 15px;
  text-transform: uppercase;
}

.comment {
  padding-right: 25px;
  padding-left: 25px;
  border: 1px #AAAAAA dashed;
}
.comment__text {
  padding: 15px;
  font-weight: bold;
  background: aqua;
  color: gray;
  border-radius: 5px;
  text-align: right;
}
