<template>
<div class="container">

  <div class = "row">
    <div class="col-12">
      <p v-if="!loggedIn">
        Пожалуйста, войдите на сайт или зарегистрируйтесь
      </p>
    </div>
      <div class="col-3">
        Всего записей: {{ recordCount }}
      </div>
      <div class="col-3">
        Всего комментариев: {{ сommentCount }}
      </div>

      <div class="col-6" v-if="loggedIn">
        Здравствуйте, {{ user.name }}
      </div>
  </div>

  <div class="container_records_index">
    <div class = "container">
    <div class = "row">

      <div class="col-12" v-if="api.notifications.length>0">
        <div class="alert alert-info alert-dismissible" v-for="notification in api.notifications" :key="'n_'+notification.id">
          <a href="#" class="close" v-on:click.prevent="removeNotification(notification.id)" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Внимание!</strong>
          <p>{{ notification.text }}</p>
        </div>
      </div>

    <div class="col-12">
      <div class="records_add" v-if="loggedIn">
        <div class="col-12">
          <!--<input class="records__button_add" v-on:click.prevent="showRecordMenu=1" value="добавить запись" type="button">-->
          <input class="btn btn-primary btn-lg btn-block" v-on:click.prevent="showRecordMenu=1" value="добавить запись" type="button">


        </div>
      </div>

      <div v-if="showRecordMenu>0 && loggedIn" class="record_add_menu">
        <div class="record_add_menu__content">
          <div class="card">
              <div class="card-header">Добавление новой записи</div>
              <div class="card-body">
                  <form @submit.prevent="sendRecord">
                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-md-right">Текст</label>
                          <div class="col-md-6">
                              <input type="text" maxlength="140" v-model="recordForm.text" class="form-control" required autofocus>
                                  <span class="invalid-feedback" role="alert">
                                      <strong></strong>
                                  </span>
                          </div>
                      </div>
                      <div class="form-group row mb-0">
                          <div class="col-md-8 offset-md-2">
                              <button type="submit" class="btn btn-primary btn-lg btn-block">
                                  Отправить
                              </button>
                          </div>
                      </div>

                      <div class="form-group row mb-0">
                          <div class="col-md-8 offset-md-2">
                              <button v-on:click.prevent="showRecordMenu = 0" type="submit" class="btn btn-secondary btn-lg btn-block">
                                  Отмена
                              </button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
        </div>
      </div>

      <div v-if="showCommentMenu>0 && loggedIn" class="record_add_menu">
        <div class="record_add_menu__content">
          <div class="card">
              <div class="card-header">Комментировать запись #{{showCommentMenu}}</div>
              <div class="card-body">
                  <form @submit.prevent="sendComment">
                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-md-right">Текст</label>
                          <div class="col-md-6">
                              <input type="text" maxlength="140" v-model="commentForm.text" class="form-control" required autofocus>
                                  <span class="invalid-feedback" role="alert">
                                      <strong></strong>
                                  </span>
                          </div>
                      </div>
                      <div class="form-group row mb-0">
                          <div class="col-md-8 offset-md-2">
                              <button type="submit" class="btn btn-primary btn-lg btn-block">
                                  Отправить
                              </button>
                          </div>
                      </div>

                      <div class="form-group row mb-0">
                          <div class="col-md-8 offset-md-2">
                              <button v-on:click.prevent="showCommentMenu = 0" type="submit" class="btn btn-secondary btn-lg btn-block">
                                  Отмена
                              </button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
        </div>
      </div>

      <div v-if="showEditMenu>0 && loggedIn" class="record_add_menu">
        <div class="record_add_menu__content">
          <div class="card">
              <div class="card-header">Редактировать {{showEditMenu_type=='records'?'запись':'комментарий'}} #{{showEditMenu}}</div>
              <div class="card-body">
                  <form @submit.prevent="sendUpdate">
                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-md-right">Текст</label>
                          <div class="col-md-6">
                              <input type="text" maxlength="140" v-model="editForm.text" class="form-control" required autofocus>
                                  <span class="invalid-feedback" role="alert">
                                      <strong></strong>
                                  </span>
                          </div>
                      </div>
                      <div class="form-group row mb-0">
                          <div class="col-md-8 offset-md-2">
                              <button type="submit" class="btn btn-primary btn-lg btn-block">
                                  Отправить
                              </button>
                          </div>
                      </div>

                      <div class="form-group row mb-0">
                          <div class="col-md-8 offset-md-2">
                              <button v-on:click.prevent="showEditMenu = 0" type="submit" class="btn btn-secondary btn-lg btn-block">
                                  Отмена
                              </button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
        </div>
      </div>

      <div class="records_index">
        <div class="row">
          <div class="col-md-12">
            <div class="record" v-for="record in api.records" :key="'record_'+record.id">
              <div class="card">
                <div class="card-body">
                  <div class="row justify-content-between">
                    <div class="col-md-4">
                      <div class="record__username">{{ record.user.name }}</div>
                    </div>
                    <div class="col-md-6">
                      <div class="record__created_at">{{ record.created_at }}</div>
                    </div>
                    <div class="col-md-2">
                      <div class="record__username_notify" v-if="user!==undefined && user.id==record.user.id">{{'(Это вы)'}}</div>
                    </div>
                  </div>


                  <div class="col-md-12">
                    <p>#{{ record.id }}</p>
                    <div class="record__text">{{ record.text }}</div>
                  </div>

                  <div class="row justify-content-between">
                    <div class="col-md-4" v-if="user!==undefined && loggedIn">
                      <input class="btn btn-success" v-on:click.prevent="showCommentMenu=record.id" value="добавить комментарий" type="button">
                    </div>
                    <div class="col-md-4" v-if="user!==undefined && record.user.id==user.id">
                      <input class="btn btn-warning" v-on:click.prevent="openEditForm(record.id, record.text, 'records')" value="редактировать" type="button">
                    </div>
                    <div class="col-md-4" v-if="user!==undefined && record.user.id==user.id">
                      <input class="btn btn-danger" v-on:click.prevent="sendDelete('records', record.id)" value="удалить запись" type="button">
                    </div>
                  </div>
                </div>
              </div>


              <div class="comment" v-for="comment in record.comments" :key="'comment_'+comment.id">

                <div class="row">
                  <div class="col-md-4  offset-md-2">
                    <div class="comment__username">{{ comment.user.name}}</div><div class="comment__username_notify" v-if="user!==undefined && user.id==comment.user.id">(Это вы)</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8  offset-md-2">
                    <p>#{{ comment.id }}</p>
                    <div class="comment__text">{{ comment.text }}</div>
                  </div>
                </div>
                <div class="row justify-content-between">
                  <div class="col-md-4 offset-md-2" v-if="user!==undefined && (comment.user.id==user.id)">
                    <input class="btn btn-warning" v-on:click.prevent="openEditForm(comment.id, comment.text, 'comments')" value="редактировать" type="button">
                  </div>
                  <div class="col-md-4 offset-md-2" v-if="user!==undefined && (record.user.id==user.id || comment.user.id==user.id)">
                    <input class="btn btn-danger" v-on:click.prevent="sendDelete('comments', comment.id)" value="удалить комментарий" type="button">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>

</div>
</template>

<script>
import api from '../api/index.js'
import Cookie from "js-cookie"

export default {
  async asyncData () {
    let records = await api.getRecords()
    let notifications = []
    let recordCount = records.length
    let сommentCount = 0
    let сommentCountUser = 0
    records.forEach((record, i) => {
      сommentCount += record.comments.length
    })
    return {
      recordCount: recordCount,
      сommentCount: сommentCount,
      сommentCountUser: сommentCountUser,
      newCommentCount: 0,
      current_user: 1,
      showRecordMenu: 0,
      recordForm: {
        text: ''
      },
      showEditMenu: 0,
      showEditMenu_type: '',
      editForm: {
        text: ''
      },
      showCommentMenu: 0,
      commentForm: {
        text: ''
      },
      api: {
        records: records,
        notifications: notifications
      }
    }
  },
  watch: {
    recordCount:  function(){
      this.сommentCount = 0;
      let records = this.api.records
      this.api.records.forEach((record, i) => {
        this.сommentCount += record.comments.length;
      })
    }
  },
  mounted() {
    setInterval(async () => {
      let newNotifications = await api.getNotifications(this.user.id)
      //this.api.notifications = newNotifications
      this.api.notifications = this.api.notifications.concat(newNotifications)

      //console.log('this.api.notifications', this.api.notifications)
      this.api.records = await api.getRecords();
      this.recordCount = this.api.records.length;
    }, 5000)
  },
  methods: {
    openEditForm(id, text, type){
      this.showEditMenu = id;
      this.editForm.text = text;
      this.showEditMenu_type = type;
    },

    removeNotification(idToRemove) {
      let index = this.api.notifications.map(function(item) {
          return item.id
      }).indexOf(idToRemove);

      this.api.notifications.splice(index, 1)
    },

    async sendRecord() {
        await api.sendRecord(this.recordForm.text, this.user.id);
        this.recordForm.text = '';
        this.showRecordMenu = 0;
        this.api.records = await api.getRecords();
        this.recordCount = this.api.records.length;
        /*this.$router.push({
            path: ''
        });*/
    },

    async sendUpdate() {
        await api.sendUpdate(this.showEditMenu_type, this.showEditMenu, this.editForm.text, this.user);
        this.editForm.text = '';
        this.showEditMenu = 0;
        this.api.records = await api.getRecords();
        this.recordCount = this.api.records.length;
    },

    async sendComment() {
        await api.sendComment(this.showCommentMenu, this.commentForm.text, this.user.id);
        this.commentForm.text = '';
        this.showCommentMenu = 0;
        this.api.records = await api.getRecords();
        this.recordCount = this.api.records.length;
    },

    async sendDelete(type, id) {
        await api.sendDelete(type, id, this.user);
        this.api.records = await api.getRecords();
        this.recordCount = this.api.records.length;
    }
  }
}
</script>
